[submodule "public"]
	path = public
	url = https://github.com/NirantK/NirantK.github.io.git
	branch = master
[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "themes/hugo-sugoi"]
	path = themes/hugo-sugoi
	url = https://github.com/aanupam23/hugo-sugoi.git
[submodule "gildedAgeWiki/output/static"]
	path = gildedAgeWiki/output/static
	url = https://github.com/NirantK/gildedage
[submodule "hugo-theme-novela"]
	path = hugo-theme-novela
	url = https://github.com/forestryio/hugo-theme-novela.git
[submodule "themes/papercss-hugo-theme~"]
	path = themes/papercss-hugo-theme~
	url = https://github.com/zwbetz-gh/papercss-hugo-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
